
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Notes Sign Up</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/toastr.min.css" />
    <link rel="stylesheet" href="/css/toastr.css" />

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/scripts.js" defer></script>

</head>
<body>
   <!-- Form Sign Up -->
   <div class="box" id = "box" style="height: 580px;">
    <span class="borderLine"></span>
    <form id="signUpForm" th:action="@{/register}" th:object="${user}" method="post" style="display: block;">
        <h2>Sign Up</h2>
        <div class="inputBox">
            <input type="email" th:field="*{email}" required="required">
            <span>Email</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="text" th:field="*{username}" required="required">
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" th:field="*{password}" required="required">
            <span>Password</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" th:field="*{confirmPassword}" required="required">
            <span>Confirm Password</span>
            <i></i>
            <div th:if="${errorMessage}" class="alert alert-danger">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
        <div class="signin-links">
            <span class="signup">Already have an account?
                <a href="@{/login}">Sign In</a>
            </span>
        </div>
        <input type="submit" value="Sign Up">
    </form>
</div>
<script>
        function showSuccessToast(message, status = 0) {
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "3000",
                "extendedTimeOut": "1000"
            };
            toastr.success(message);


        }

        document.getElementById('signUpForm').addEventListener('submit', function(event) {
            event.preventDefault();
                
            fetch('/register', {
                method: 'POST',
                body: new FormData(event.target)
            })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then(text => {
                        throw new Error(text);
                    });
                }
            })
            .then(data => {
                console.log(data);
                showSuccessToast(data, 1); // Asumsi showSuccessToast akan menampilkan toastr
                setTimeout(() => {
                    window.location.href = '/login'; // Mengarahkan ke /login setelah delay
                }, 3000); // Delay 3 detik (3000 milidetik) atau sesuaikan dengan durasi toastr Anda
            })
            .catch(error => {
                console.error('Error during registration:', error);
                toastr.error(error.message);
            });
        });

</script>
</body>
</html>