<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/assets/fontawesome-free-6.5.2-web/css/all.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/toastr.min.css" />
  <link rel="stylesheet" href="/css/toastr.css" />
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/dashboard.js" defer></script>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/toastr.min.js"></script>
  <title>Tasks</title>
</head>

<body>
  <div th:replace="fragments/sidebar :: sidebar"></div>
  <section class="home">
    <div class="text">Notes</div>
    <div class="container mt-5">
      <div th:each="row : ${notes}">
        <div class="row">
          <div class="col" th:each="note, colStat : ${row}">
            <div th:if="${note != null}">
              <div class="card-note">
                <div class="card-body" data-bs-toggle="modal" data-bs-target="#displayModal"
                  th:data-note-id="${note.id}" onclick="viewTaskDetails(this)">
                  <h5 class="card-title mt-0" th:text="${note.title}"></h5>
                  <hr>
                  <p class="card-text" th:text="${note.excerpt}">
                    <!-- Content of the note -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="cardempty-note">
          <div class="card-body">
            <button type="button" class="btn btn-primary custom-button-note" data-bs-toggle="modal"
              data-bs-target="#addModal">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <blockquote class="blockquote mb-0">
            <p style="padding: 50px; color: #6c757d;">Create your own note here</p>
          </blockquote>
        </div>
      </div>
    </div>

    <!-- Modal ADD NOTE-->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Notes</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="add-note-form" th:action="@{/notes}" method="post">
              <input type="hidden" th:value="${user.id}" name="userId" />
              <div class="mb-3">
                <label for="title-note" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="title-note" name="title">
              </div>
              <div class="form-floating">
                <textarea class="form-control large-textarea" placeholder="Leave a comment here" id="content"
                  name="content"></textarea>
                <label for="floatingTextarea">Content</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="save-note-btn-add" class="btn btn-primary" type="submit">Save Note</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal EDIT NOTE-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Notes</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="edit-note-form" method="post">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <div class="mb-3">
                <label for="title-note" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="title-note" name="title">
              </div>
              <div class="form-floating">
                <textarea class="form-control large-textarea" placeholder="Leave a comment here" id="contentEdit"
                  name="content"></textarea>
                <label for="floatingTextarea">Content</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="save-note-btn-edit" class="btn btn-primary" type="submit">Save Note</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal DISPLAY NOTE-->
    <div class="modal fade" id="displayModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title fs-5" id="exampleModalLabel">Title here</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <p style="color: #6c757d;" id="content"></p>
            </div>
          </div>
          <div class="modal-footer">
            <form id="delete-form">
              <button type="button" class="btn btn-outline-danger" id="delete-btn">Delete</button>
            </form>
            <button type="button" class="btn btn-outline-primary " data-bs-target="#editModal" data-bs-toggle="modal"
              onclick="viewTaskDetailsEdit(this)">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    $(document).ready(function () {
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token);
      });

      $('#add-note-form').on('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        var formData = $(this).serialize(); // Serialize form data
        console.log('Serialized Form Data:', formData); // Debug log
        $.ajax({
          url: $(this).attr('action'),
          type: 'POST',
          data: formData,
          success: function (response) {
            toastr.success('Note successfully created!');
            $('#addModal').modal('hide');
            $('#add-note-form')[0].reset();
            setTimeout(function () {
              location.reload(); // Refresh the page after 1 second
            }, 1000);
          },
          error: function (response) {
            toastr.error('Failed to create Note.');
            console.log(response);
          }
        });
      });

      $('#edit-note-form').on('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        var formData = $(this).serialize(); // Serialize form data
        console.log('Serialized Form Data:', formData); // Debug log
        $.ajax({
          url: $(this).attr('action'),
          type: 'POST',
          data: formData,
          success: function (response) {
            toastr.success('Note successfully updated!');
            $('#editModal').modal('hide');
            $('#edit-note-form')[0].reset();
            setTimeout(function () {
              location.reload(); // Refresh the page after 1 second
            }, 1000);
          },
          error: function (response) {
            toastr.error('Failed to update Note.');
            console.log(response);
          }
        });
      });

      $('#delete-form').on('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        $.ajax({
          url: "/notes/" + noteId + "/delete",
          type: 'POST',
          success: function (response) {
            toastr.success('Note successfully deleted!');
            $('#displayModal').modal('hide');
            setTimeout(function () {
              location.reload(); // Refresh the page after 1 second
            }, 1000);
          },
          error: function (response) {
            toastr.error('Failed to delete Note.');
            console.log(response);
          }
        });
      });

      $('#save-note-btn-add').on('click', function () {
        $('#add-note-form').submit();
      });

      $('#save-note-btn-edit').on('click', function () {
        $('#edit-note-form').submit();
      });

      $('#delete-btn').on('click', function () {
        $('#delete-form').submit();
      });
    });

    var noteId;
    function viewTaskDetails(element) {
      noteId = $(element).attr('data-note-id');

      $.ajax({
        url: '/notes/' + noteId,
        type: 'GET',
        success: function (response) {
          $('#displayModal .modal-title').text(response.title);
          $('#displayModal .modal-body').text(response.content);
          $('#exampleModal2').modal('show');
        },
        error: function (response) {
          toastr.error('Failed to load Note details.');
          console.log(response);
        }
      });
    }

    function viewTaskDetailsEdit(element) {

      $.ajax({
        url: '/notes/' + noteId,
        type: 'GET',
        success: function (response) {
          $('#editModal form').attr('action', '/notes/' + noteId + '/edit');
          $('#editModal #title-note').val(response.title);
          $('#editModal #contentEdit').val(response.content);
          $('#editModal').modal('show');
        },
        error: function (response) {
          toastr.error('Failed to load Note details.');
          console.log(response);
        }
      });
    }

  </script>
</body>
</html>